<!------ Include the above in your HEAD tag ---------->

<html>
<head><title>order</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



</head>
<body>


<div class="page-container">
            
            <form action="/add_order/{{id}}" method="POST">
			<h1>Sign Up</h1>
                <span >name:</span><input type="text" name="name" placeholder="name" require>
		    <br>
				<span >addres</span><input type="text" name="address"  placeholder="addres" require>
		    <br>
				<span >quantity:</span><input type="number" name="number"  placeholder="quantity" require>
		    <br>
                <span >for contact (your email or number pone or facebook accoune..etc):</span><input type="text" name="contact"  placeholder=" facebook or whatsapp " require>
                <button type="submit" value="psot order" name="submit">Submit</button>
            </form>
        </div>
		

</body>
</html>
